.line {
  width: 150%;
  height: 0.8px;
  position: relative;
  left: -10%;
  margin-bottom: 20px;
}

.title {
  font-family: "thinItalic";
  font-size: 20px;
  margin-bottom: 10px;
}
.modalContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 52, 52, 0.5);
}
.modalTop {
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.modalText {
  /* font-weight: 600; */
  font-family: "regular";
  font-size: 14px;
  margin-left: 5px;
}
.modalContent {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 400px;
}
.modalTextSelect {
  font-family: "light";
  /* font-weight: 500; */
  font-size: 14px;
  color: #8c9199;
  text-transform: capitalize;
}

/*  */

.textInputAddress {
  flex: 1;
  margin-left: 10px;
  color: #8c9199cb;
  text-transform: capitalize;
}
.inputContainerAddress {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: none;
  /* width: 50%; */
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
}
.placeholderAddress {
  flex: 1;
  margin-left: 10px;
  color: #8c9199cb;
  text-transform: capitalize;
  font-size: 12px;
  font-family: "light";
}
.labelInputAddress {
  font-family: "regular";
  font-size: 14px;
  color: #404040;
  text-transform: capitalize;
}

/*  */
.textInputPostal {
    flex: 1;
    margin-left: 10px;
    color: #8c9199cb;
    text-transform: capitalize;
  }
  .inputContainerPostal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: none;
    width: 130px;
    padding: 11px 0px 11px 0px;
    border-radius: 8px;
    margin: 3px 0px 10px;
    margin-right: 10px;
  }
  .placeholderPostal {
    flex: 1;
    margin-left: 10px;
    color: #8c9199cb;
    text-transform: capitalize;
    font-size: 12px;
    font-family: "light";
  }
  .labelInputPostal {
    font-family: "regular";
    font-size: 14px;
    color: #404040;
    text-transform: capitalize;
  }

  /*  */
.textInputCity {
    flex: 1;
    margin-left: 10px;
    color: #8c9199cb;
    text-transform: capitalize;
  }
  .inputContainerCity {
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: #fafafa;
    border: none;
    width: 115px;
    padding: 11px 0px 11px 0px;
    border-radius: 8px;
    margin: 3px 0px 10px;
  }
  .placeholderCity {
    flex: 1;
    margin-left: 10px;
    color: #8c9199cb;
    text-transform: capitalize;
    font-size: 11px;
    font-family: "light";
  }
  .labelInputCity {
    font-family: "regular";
    font-size: 14px;
    color: #404040;
    text-transform: capitalize;
  }

    /*  */
.textInputCountry {
    flex: 1;
    margin-left: 10px;
    color: #8c9199cb;
    text-transform: capitalize;
  }
  .inputContainerCountry {
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: #fafafa;
    border: none;
    width: 130px;
    padding: 11px 0px 11px 0px;
    border-radius: 8px;
    margin: 3px 0px 10px;
    margin-right: 15px;
  }
  .placeholderCountry {
    flex: 1;
    margin-left: 10px;
    color: #8c9199cb;
    text-transform: capitalize;
    font-size: 12px;
    font-family: "light";
  }
  .labelInputCountry {
    font-family: "regular";
    font-size: 14px;
    color: #404040;
    text-transform: capitalize;
  }