.container {
  flex: 1;
  padding-top: 20px;
}
.line {
  width: 150%;
  height: 0.8px;
  position: relative;
  left: -10%;
  margin-bottom: 20px;
}
.section {
  padding: 0px 20px 20px;
  /* margin-bottom: 10px; */
}
.title {
  font-family: "thinItalic";
  font-size: 20px;
  margin-bottom: 10px;
}
