.content {
  padding: 20px;
  flex: 1;
}

.enterCode {
  flex: 1;
}

.continue {
  text-align: center;
  width: 100%;
  padding: 20px;
  height: 60px;
  background-color: #ffa424;
  border-radius: 16px;
}

.textContinue {
  text-align: center;
  font-family: 'medium';
  /* font-weight: 700; */
  color: white;
  font-size: 14px;
}

.textContainer {
  margin-top: 30px;
  justify-content: center;
}
.title {
  font-family: 'thinItalic';
  font-size: 36px;
  margin-bottom: 15px;
  color: #1f1f1f;
  text-align: center;
}

.subtitle {
  font-family: 'light';
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
  color: #404040;
}
