.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 0.4px solid #404040;
    margin-bottom: 20px;
    height: 160px;
}
.image {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.available {
    margin-left: 2px;
    font-family: 'thinItalic';
    font-size: 14px;
}
.options {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.save {
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}
.textSave {
    font-family: 'light';
    font-size: 12px;
    margin-left: 5px;
}
.buy {
    /* border: 0.5px solid #404040; */
    padding: 8px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}
.textBuy {
    font-family: 'regular';
    font-size: 12px;
    margin-left: 0px;
}
.see {
    /* border: 0.5px solid #404040; */
    padding: 8px 25px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}
.textSee {
    font-family: 'regular';
    font-size: 12px;
    margin-left: 0px;
}
.content {
    /* padding: 10px; */
}
.name {
    font-family: 'light';
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -1;
    text-align: right;
}
.seller {
    font-family: 'thinItalic';
    font-size: 14px;
    width: 160px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
    text-align: right;
}
.price {
    font-size: 26px;
    text-align: right;
    font-family: 'thin';
    letter-spacing: -1;
}