.modalContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 52, 52, 0.5);
}
.modalTop {
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.modalText {
  /* font-weight: 600; */
  font-family: "regular";
  font-size: 16px;
  margin-left: 5px;
}
.modalContent {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 400px;
}
.modalTextSelect {
  font-family: "regular";
  /* font-weight: 500; */
  font-size: 16px;
  color: #8c9199;
  text-transform: capitalize;
}
.inputContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 10px 15px 5px;
  border-radius: 16px;
  margin: 3px 0px 10px;
}
.inputContainerText {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 10px 15px 5px;
  border-radius: 16px;
  margin: 3px 0px 10px;
}
.labelInput {
  /* font-style: normal; */
  /* font-weight: 700; */
  font-family: "medium";
  font-size: 14px;
  color: #404040;
}
.textInput {
  flex: 1;
  margin-left: 10px;
  color: #8c9199cb;
  flex-direction: row;
  text-transform: capitalize;
}
.inputContainerBoth {
  /* flex: 1; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: none;
  width: 90%;
  padding: 15px 10px 15px 5px;
  border-radius: 16px;
  margin: 3px 0px 10px;
}

.labelInputBoth {
  font-family: "medium";
  font-size: 14px;
  color: #404040;
  text-transform: capitalize;
}
.textInputBoth {
  flex: 1;
  margin-left: 10px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  color: #8c9199cb;
  text-transform: capitalize;
}

/* Error */
.inputContainerBothError {
  /* flex: 1; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid red;
  width: 90%;
  padding: 14px 10px 14px 5px;
  border-radius: 16px;
  margin: 3px 0px 10px;
}
.inputContainerError {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  background-color: #fafafa;
  padding: 14px 10px 14px 5px;
  border-radius: 16px;
  margin: 3px 0px 10px;
}
.errorBoth {
  font-family: "medium";
  font-size: 10px;
  color: red;
  position: absolute;
  bottom: -16;
  right: 0;
  /* left: ; */
  text-transform: capitalize;
}
.errorProduct {
  font-family: "medium";
  font-size: 10px;
  color: red;
  position: absolute;
  bottom: -16;
  right: 0;
  text-transform: capitalize;
}
.errorCategory {
  font-family: "medium";
  font-size: 10px;
  color: red;
  position: absolute;
  bottom: -16;
  right: 0;
  /* left: ; */
  text-transform: capitalize;
}
.errorBrand {
  font-family: "medium";
  font-size: 10px;
  color: red;
  position: absolute;
  bottom: -5;
  right: 20;
  /* left: ; */
  text-transform: capitalize;
}