.container {
    padding: 15px;
    border-radius: 8px;
    flex-direction: row;
    border: 0.4px solid #404040;
    /* margin-bottom: 10px; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content {
    flex-direction: row;
    align-items: center;
}