.container {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    flex-direction: row;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
}
.options {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content {
    padding: 15px 10px;
}
.name {
    font-family: 'bold';
    font-size: 16px;
}
.seller {
    font-family: 'regular';
    font-size: 14px;
    margin: 10px 0px;
}
.price {
    font-size: 18px;
    font-family: 'bold';
}