.container {
    width: 100%;
    /* position: absolute; */
    /* padding: 20px;ee */
}

.headerProfile {
    justify-content: center;
    align-items: center;
    padding: 35px 20px 10px;
    background-color: white;
}

.contentProfile {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* .userIcon {
} */

.icon {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contentProfile2 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
}

.otherIcon {
    flex-direction: row;
    justify-content: space-around;
    width: 80px;
}

/* Search */
.containerSearch {
    flex-direction: row;
}

.contentSearch {
    flex: 1;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.contentInput {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.inputSearch {
    flex: 1;
    font-family: 'light';
}
.contentBack {
    justify-content: center;
    align-items: center;
  }