.container {
  flex: 1;
  padding: 10px 20px 20px;

}
.scroll {
  flex: 1;
}
.content {
  flex: 2;
}
.panel {
  flex: 1;
  /* padding: 20px; */
  justify-content: flex-end;
}
.title {
  font-family: 'lightItalic';
  margin: 0px 10px 10px;
  text-align: center;
  font-size: 30px;
  color: #1f1f1f;
}
.inputContainer {
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 15px 10px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.labelInput {
  font-style: normal;
  font-family: 'light';
  /* font-weight: 500; */
  font-size: 14px;
  color: #404040;
  margin-bottom: 5px;
}

.textInput {
  font-family: 'light';
  margin-left: 5px;
  width: 70%;

}
.errorInput {
  font-family: 'light';
  color: red;
  font-size: 12px;
  position: relative;
  top: -15px;
}
.errorInputMain {
  font-family: 'light';
  color: red;
  font-size: 14px;
  position: relative;
  top: -10px;
}
.placeholder {
  text-align: left;
  font-family: 'light';
  width: 70%;
  margin-left: 5px;
}
.login {
  flex: 1;
  text-align: center;
  width: 100%;
  padding: 20px;
  height: 60px;
  background-color: #ffa424;
  border-radius: 16px;
}

.textLogin {
  text-align: center;
  font-family: 'medium';
  /* font-weight: 700; */
  color: white;
  font-size: 14px;
}

/* panel */

.social {
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}
.iconSocial {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #ececec;
  border-radius: 10px;
}

.signup {
  flex-direction: row;
  justify-content: center;
}
.dont {
  /* font-weight: 100; */
  font-family: 'thin';
  color: #c8c8c8;
  font-size: 14px;
}
.signupBtn {
  font-family: 'medium';
  margin-left: 5px;
  /* font-weight: 700; */
  color: #1f1f1f;
  font-size: 14px;
}
.continue {
  text-align: center;
  /* font-weight: 100; */
  font-family: 'thin';
  color: #656565;
  font-size: 14px;
}
.forgot {
  text-align: center;
  font-family: 'medium';
  /* font-weight: 700; */
  color: #1f1f1f;
  font-size: 14px;
}
.options {
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  /* margin-bottom: 10%; */
}
.check {
  flex-direction: row;
  justify-content: center;
}
.box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #1f1f1f;
}
.checkText {
  margin-left: 5px;
  text-align: center;
  font-family: 'thin';
  color: #1f1f1f;
  font-size: 14px;
}
.boxActive {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #ffa424;
  /* border: 1px solid #1f1f1f; */
}
