.container {
  flex: 1;
  position: relative;
}
.textContainer {
  padding: 10px 20px 20px;
  margin-bottom: 10px;
}
.title {
  font-family: 'light';
  /* font-weight: 100; */
  font-size: 24px;
  margin-bottom: 10px;
}
.subtitle {
  font-family: 'extralight';
  /* font-weight: 400; */
  font-size: 14px;
}
.containerSelect {
  flex: 1;
  padding: 20px 20px 20px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.textContainerSelect {
  width: 75%;
  margin-right: -30px;
}
.textTitleSelect {
  font-family: 'light';
  font-size: 18px;
}
.textSubtitleSelect {
  font-family: 'extralight';
  /* width: 55%; */
  font-size: 12px;
}
.line {
  width: 150%;
  height: 1px;
  position: absolute;
}
