.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
.imageContent {
    flex: 1;
    padding: 20px;
}
.preview {
  margin: 20px 0px;
  text-align: center;
  width: 90%;
  padding: 20px;
  height: 60px;
  /* background-color: #ffa424; */
  border-radius: 16px;
  margin-top: 20px;
}
.textPreview {
  text-align: center;
  font-family: "bold";
  /* font-weight: 700; */
  color: white;
  font-size: 14px;
}
.textComplete {
  text-align: center;
  font-family: "regular";
  /* font-weight: 700; */
  font-size: 14px;
}