.content {
  flex: 1;
  flex-direction: column;
}

.form {
  padding: 20px 20px 0px;
  flex: 1;
}

.inputContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 16px;
  margin: 10px 0px;
}

.labelInput {
  font-family: 'regular';
  /* font-weight: 500; */
  font-size: 14px;
  color: #404040;
  margin-bottom: 3px;
}

.textInput {
  font-family: 'regular';
  flex: 1;
  margin-left: 15px;
}

.errorInput {
  color: red;
}

.continue {
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  border-radius: 16px;
}

.textContinue {
  text-align: center;
  font-family: 'bold';
  /* font-weight: 700; */
  font-size: 14px;
}

.terms {
  /* font-weight: 400; */
  font-family: 'regular';
  font-size: 14px;
  color: #404040;
  margin-left: 5px;
}

.title {
  text-align: center;
  /* font-weight: 700; */
  font-family: 'semibold';
  font-size: 35px;
  color: #1f1f1f;
}

.subtitle {
  /* font-weight: 400; */
  font-family: 'regular';
  font-size: 16px;
  text-align: center;
  color: #404040;
}
.controls {
  margin: 10px 0px 40px;
}
.check {
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #1f1f1f;
}
.checkText {
  margin-left: 5px;
  font-family: 'regular';
  text-align: center;
  color: #1f1f1f;
  font-size: 14px;
}
.boxActive {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #ffa424;
}