.tabBarContainer {
    flex-direction: row;
    height: 60px;
    /* position: absolute; */
    align-self: center;
    border: 1px solid #efeded;
    /* background-color: white; */
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.slidingTab {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    /* background-color: #FFCE48; */
    bottom: 25px;
    border: 4px solid white;
}